extends layout

block content
	h1 search sf jobs
	input#search(type="search", placeholder="Search Craig's Jobs")
	h2#results

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/main.js")